.footer{
    margin: px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.footer-bottom-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 850px){
    .footer{
        margin: 50px 20px;
        gap: 50px;
    }
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right{
        flex-direction: column;
        gap: 20px;
    }
    .footer-email-input{
        padding-right: 20px;
        gap: 15px;
    }
    .footer-subscribe{
        padding: 15px 30px;
        font-size: 16px;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
    }
    .footer-bottom-left{
        gap: 10px;
    }
}